.container {
  display: grid;
  grid-template-columns: 20px 20px 20px 20px;
  /* e.g.
      1fr 1fr
      minmax(10px, 1fr) 3fr
      repeat(5, 1fr)
      50px auto 100px 1fr
  */
  grid-template-rows: 20px 20px 20px 20px;
  /* e.g.
      min-content 1fr min-content
      100px 1fr max-content
  */ }
  .container .skills {
    margin-top: 150px;
    display: flex;
    flex-direction: row; }
  .container .IT {
    padding: 20px;
    width: 50%;
    border: 8px solid #2AA4AE;
    border-radius: 10%;
    font-size: 30px;
    margin-right: 20px; }
  .container .languages {
    width: 50%;
    padding: 20px;
    border: 8px solid #2AA4AE;
    border-radius: 10%;
    font-size: 30px; }
